body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
    font-weight: 100;  
    box-sizing: border-box;
    text-align: center;
}

.top-container, .center-top-container, .center-bottom-container, .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weather-top-left, .weather-top-right {
    overflow: hidden;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 30vh;
    line-height: 0px;
    box-sizing: border-box;
    cursor: pointer;
}

.temperature-1, .temperature-2 {
    font-size: 6vw;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 30px;
}

.city-1, .city-2 {
    font-size: 3.5vw;
    padding-top: 30px;
}


.top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-style
{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 5px;
    
}

.button-style > img{
    width: 60px;
    height: 60px;   
}
    

.center-top-container > section,
.center-bottom-container > section {
    height: 10vh;
    width: 30vw;
    justify-content: flex-start;
    font-size: 1vw;

}
 
.bottom-container-1,
.bottom-container-2 {
    display: flex;
    flex-direction: row;
}

.bottom-container-1 > section,
.bottom-container-2 > section {
    text-align: start;
    font-size: 0.8vw;
    width: 12vw;
    height: 12vh;
    justify-content: space-around;
    padding-left: 10px;

}

body.light-theme {
    background: radial-gradient(circle, #f0e38e, #698aab);
    background-size: 200% 200%;
    animation: moveGradient 10s infinite alternate;
    animation-iteration-count: infinite;
    transition: 2s;
    color: rgba(0, 0, 0, 0.7);
}


body.dark-theme {
    background: radial-gradient(circle, #434647, #04001f);
    background-size: 200% 200%;
    animation: moveGradient 25s infinite alternate;
    animation-iteration-count: infinite;
    transition: 2s;
    color: rgba(255, 255, 255, 0.9);
}

    

/* 
body.dark-theme {
    background: radial-gradient(circle, #0c1114, #031629);
    background-size: 200% 200%;
    animation: moveGradient 10s infinite alternate;
    animation-iteration-count: infinite;
    transition: 2s;
}
 */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }

.header-text {
    font-size: 7vh;
    font-weight: 400;
    color: #000;
    line-height: 100%;
    mix-blend-mode: overlay;
    z-index: 2;
}


 /* testar lite ny header
 header {
    background-color: white;
    text-align: center;
    overflow: hidden;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 7vh;
    font-weight: 400;
    
}
*/

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
}

section {
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    padding: 0 40px;
    flex-direction: column;
    -webkit-box-shadow:0px 0px 11px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
}
/* 
footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 3vh;
    justify-content: center;
    align-items: center;
} */
h1, h2 {
    font-weight: 100;
    margin: 0px;
}



.icon
{
    width: 75px;
    height:75px;
    border-radius: 300px;
    transition: 0.3s;
}

.icon:hover
{
    transform: scale(1.15); 
}

#sunIcon
{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

#moonIcon
{
    box-shadow: 0 4px 8px;

}

 .city-1, .city-2 
 {
    font-size: 4vw;
    font-weight: bold;
    color: #333;
}


.weather-top-left {
    align-items: flex-start;
    text-align: left;
}

.weather-top-right {
    align-items: flex-end; 
    text-align: right;
}


.city-dropdown {
    font-size: 1.6rem; 
    width: 100%;
    border: none;
    background: transparent;
    color: #333;
    cursor: pointer;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align-last: center;
    padding: 10px 0;
}
